body {
	background-size: cover;
  	-webkit-background-size: cover;
	background-image: url(../images/galaxy.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.row {
	margin-bottom: 35px;
}

nav.navbar {
	background-color: black;
}

.card-text {
	padding: 10px;
}

#characters {
	color: white;
}